@font-face {
    font-family: Seagram;
    src: url("./seagram.ttf");
}


body {
    margin: 0 auto;
    padding: 0px;
    overflow: hidden;
    font-family: 'Seagram';
}

.bg>img {
    width: 100%;
    height: 100vh;
    cursor: pointer;
    transition: all 1s ease-in;
}

.landingPageBG_close {
    transform: scale(5);
    opacity: 0;
}

.main_page {
    overflow-y: scroll;
    height: 100vh;
    background-image: url("./mainpagebg.jpg");
    background-repeat: repeat;
    background-size: contain;
}



.title {
    text-align: center;
    font-size: 3.5em;
    font-weight: 50;
}



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffa70f #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 50px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    /* background-color: #ffa70f; */
    background-image: url("./scrollbar_thumb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }